.main-content {
  padding: 2rem;
  /* width: 134rem; */
  width: 100%;
  background-color: var(--color-grey-light-1);
  border-radius: 5rem 5rem 5rem 5rem;
  margin-right: 1rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.profile-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 4px 6px var(--color-primary); */
}

.welcome-card {
  background: linear-gradient(135deg, var(--color-grid-1), var(--color-grid-2));
  border-radius: 15px;
  padding: 4rem;
  width: 60rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.welcome-card h2 {
  color: var(--color-grey-light-1);
  margin-bottom: 10px;
  font-size: 24px;
}

.welcome-card p {
  color: var(--color-grey-light-4);
}

.university-name {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  /* background: linear-gradient(
    to right,
    var(--color-grid-1),
    var(--color-grid-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */

}

.profile-details {
  margin-top: 10px;
}

.profile-details p {
  margin-bottom: 8px;
  color: #555;
}

.profile-details span {
  font-weight: bold;
  color: #333;
}

.schedule-section {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  /* width: 60rem;
  min-width: 35rem;
  max-width: 60rem; */
  width: 100%;
  margin-top: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  height: 100%;
  min-height: 35rem;
}

.schedule-header {
  /* background-color: #9aafd9; */
  background: linear-gradient(135deg, var(--color-grid-1), var(--color-grid-2));
  padding: 15px;
  border-radius: 10px;
}
.schedule-header h2{
  color: var(--color-grey-light-1);
  font-size: var(--fs-5);
  margin-bottom: 15px;
  font-weight: 600;
}
.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th {
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  color: #666666;
  font-weight: normal;
}

.schedule-table td {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}

.course-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.course-row {
  display: flex;
  align-items: center;
}
.schedule-table tr:hover {
  background-color: var(--color-grey-light-2);
}

.tag {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.tag-lecture {
  color: #8055e7;
  background-color: #f1e6ff;
}

.tag-lab {
  color: #4caf50;
  background-color: #e8f5e9;
}

.tag-quiz {
  color: #ff9451;
  background-color: #fff2e6;
}
.schedules-section{
  display: flex;
  gap: 2rem;
  justify-content: center;
}
@media screen and (max-width: 72em) {
  .main-content{
    gap: 0;
  }
  .schedule-section{

    max-height: 25rem;
  }
}